alias act="source bin/activate"
alias deact="deactivate"

alias runs="python manage.py runserver"
alias makemig="python manage.py makemigrations"
alias mig="python manage.py migrate"
alias statics="python manage.py collecstatic"


alias lshid="ls -al"

alias phpserv="php -S 127.0.0.1:8000"

alias larlocal="php artisan serve"
