alias act="source bin/activate"

alias runs="python manage.py runserver"
alias makemig="python manage.py makemigrations"
alias mig="python manage.py migrate"

alias lshid="ls -al"

alias phpserv="php -S 127.0.0.1:8000"

alias larlocal="php artisan serve"
